<!DOCTYPE HTML>
<html>
<head>
{{> layout/header}}
</head>
<body>
	<div class="container">
		<table class="table">
	        <thead>
	        <tr>
	            <th scope="col">#</th>
	            <th scope="col">userId</th>
	            <th scope="col">name</th>
	            <th scope="col">password</th>
	        </tr>
	        </thead>
	        <tbody>
	        {{#users}}
	        <tr>
	            <th scope="row">{{id}}</th>
	            <td>{{userId}}</td>
	            <td>{{name}}</td>
	            <td>{{password}}</td>
	        </tr>
	        {{/users}}
	        </tbody>
	    </table>
	</div>
	<!-- /container -->
</body>
{{> layout/footer}}
</html>